@use "./nav.scss";
@use "./resources.scss";

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E1E5EE;
  color: #2A324B;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.layout-container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

header {
  margin-top: 50px;
}

main {
  min-height: 500px;
  display: flex;
  justify-content: left;
  background-color: white;
  padding-left: 30px;
  padding-top: 50px;
}
